<!-- 
 -- @Author Mohamed LAKRAA
 -- Details des qualificatifs
 -->
<div class="page" ng-controller="QualificatifDetailsController">

	<div class="panel panel-default ens-edit">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span>
				Qualificatif</strong>
		</div>
		<div class="panel-body">
			<!--------------------------- Consultation --------------------------->
			<div class="media animate" ng-hide="edit">
				<button class="btn btn-warning pull-right" ng-click="edition()">
					<span class="glyphicon glyphicon-pencil"></span> Editer
				</button>
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><label>ID Qualificatif</label> {{qualificatif.idQualificatif}}<br /></li>
						<li><label>Maximal</label> {{qualificatif.maximal}}<br /></li>
						<li><label>Minimal</label> {{qualificatif.minimal}}<br /></li>
						<li><label></label> {{}}<br /></li>
					</ul>
				</div>
				<a class="btn btn-primary" href="#/admin/qualificatifs"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
			</div>
			<!--------------------------- Edition --------------------------->
			<div ng-show="edit">
			<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
				<form class="form-horizontal elegant-aero" name="qualificatifForm">
				<div ng-repeat="alert in alerts" ng-show="alert.show">
       				 <alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
      			</div>
					<div class="form-group">
						<label for="" class="col-sm-2">idQualificatif<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="idQualificatif" min="1"
								ng-model="qualificatif.idQualificatif" ng-disabled="isVisible" required ng-readonly="true">
								<span style="color:red" ng-show="qualificatifForm.idQualificatif.$dirty && qualificatifForm.idQualificatif.$invalid">
								<span ng-show="qualificatifForm.idQualificatif.$error.required">Champ obligatoire / Type invalide</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Maximal<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="maximal"
								ng-model="qualificatif.maximal" ng-pattern="/^[A-Za-z' \-]+$/"  ng-maxlength="16" required>
								<span style="color:red" ng-show="qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid">
								<span ng-show="qualificatifForm.maximal.$error.required">Champ obligatoire / Type invalide</span></span>
								
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Minimal<span id="required-field">*</span></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="minimal" ng-model="qualificatif.minimal" ng-pattern="/^[A-Za-z' \-]+$/" ng-maxlength="16" required>
								<span style="color:red" ng-show="qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid">
								<span ng-show="qualificatifForm.minimal.$error.required">Champ obligatoire / Type invalide</span></span>
						</div>
					</div>
				</form>
				
				<a class="btn btn-success" ng-click="submit()"
				ng-disabled="qualificatifForm.idQualificatif.$dirty && qualificatifForm.idQualificatif.$invalid
							|| qualificatifForm.maximal.$dirty && qualificatifForm.maximal.$invalid
							|| qualificatifForm.minimal.$dirty && qualificatifForm.minimal.$invalid
							|| qualificatifForm.idQualificatif.$error.required
							|| qualificatifForm.maximal.$error.required
							|| qualificatifForm.minimal.$error.required
					">
				<span class="glyphicon glyphicon-ok"></span> Valider</a>
				<button class="btn btn-danger pull-right" ng-click="cancel()">Annuler</button>
			</div>
		</div>
	</div>
</div>