<div class="page page-table" data-ng-controller="QualificatifsController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Formations</strong>
        <span class="add fa fa-user-plus pull-right" ng-click="ajoutQualificatif()"></span>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Qualification
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('idQualificatif') "
                              data-ng-class="{active: row == 'idQualificatif'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-idQualificatif') "
                              data-ng-class="{active: row == '-idQualificatif'}"></span>
                    </div></th>
                    <th><div class="th">
                        Maximal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('diplome') "
                              data-ng-class="{active: row == 'diplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-diplome') "
                              data-ng-class="{active: row == '-diplome'}"></span>
                    </div></th>                    
                    <th><div class="th">
                        Minimal
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('nomFormation') "
                              data-ng-class="{active: row == 'nomFormation'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-nomFormation') "
                              data-ng-class="{active: row == '-nomFormation'}"></span>
                    </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="q in qualificatifs" class="qualificatif">
                    <td ng-click="edit(f)">{{q.idQualificatif}}</td>
                    <td ng-click="edit(f)">{{q.maximal}}</td>
                    <td ng-click="edit(f)">{{q.minimal}}</td>
                    <td><span class="remove fa fa-remove" ng-click="supprime(q)"></span></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
