<!-- 
 -- Author Kenza ABOUAKIL
 -- Détails d'une promotion
 -->
<div class="page" ng-controller="PromotionDetailsController">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Promotion</span>
			</div>
		</div>
		<!--------------------------- Consultation --------------------------->
		</br>
		<div class="portlet-body form" ng-hide="edit">
			<form class="form-horizontal form-bordered">
				<div class="form-group">
					<div class="col-md-3"><strong>Ann&eacute;e</strong></div>
					<div class="col-md-3">{{promotion.promotionPK.anneeUniversitaire}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Formation</strong></div>
					<div class="col-md-3">{{promotion.promotionPK.codeFormation}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Sigle</strong></div>
					<div class="col-md-3">{{promotion.siglePromotion}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Responsable</strong></div>
					<div class="col-md-3">{{responsable.nom}}
						{{responsable.prenom}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Nombre max d'&eacute;tudiants</strong></div>
					<div class="col-md-3">{{promotion.nbMaxEtudiant}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Date de rentr&eacute;e</strong></div>
					<div class="col-md-3">{{promotion.dateRentree | date:
						"dd/MM/yyyy"}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Lieu de rentr&eacute;e</strong></div>
					<div class="col-md-3">{{promotion.lieuRentree}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Processus de stage</strong></div>
					<div class="col-md-3">{{processusSignification}}</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><strong>Commentaire</strong></div>
					<div class="col-md-3">{{promotion.commentaire}}</div>
				</div>
			</form>
		</br>
		
		<div class="row">
			<div class="col-md-6" ng-show="promotion.etudiantCollection.length">
						<div class="panel-body table-responsive">
							<span class="cpation-subject font-blue bold uppercase">Etudiants</span>
					</br>
					<table class="table">
						<thead>
							<tr>
								<th>Num &eacute;tudiant</th>
								<th>Nom</th>
								<th>Pr&eacute;nom</th>
								<th>E-mail</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="e in promotion.etudiantCollection">
								<td>{{e.noEtudiant}}</td>
								<td>{{e.nom}}</td>
								<td>{{e.prenom}}</td>
								<td>{{e.emailUbo}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<a class="btn btn-primary" href="#/promotions">
			<span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
		<button class="btn btn-warning pull-right" ng-click="edition()">
			<span class="glyphicon glyphicon-pencil"></span> Editer
		</button>
	</div>
	

	<!--------------------------- Edition --------------------------->
	<div ng-show="edit">
		<form class="form-horizontal" name="promotionForm">
			<div class="form-group">
				<label for="" class="col-sm-2">Ann&eacute;e
					<span id="required-field"> *</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="anneeUniversitaire" maxlength="9"
						ng-model="promotion.promotionPK.anneeUniversitaire" ng-readonly="!ajout"
						ng-pattern="/[1,2][0,9][0-9][0-9]-[1,2][0,9][0-9][0-9]/" placeholder="yyyy-yyyy">
						<span style="color:red" ng-show="promotionForm.anneeUniversitaire.$dirty && promotionForm.anneeUniversitaire.$invalid">
						<span ng-show="promotionForm.anneeUniversitaire.$error.required">Champ obligatoire / Type invalide</span></span>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Formation<span
					id="required-field"> *</span></label>
				<div class="col-sm-10">
					<select ng-show="ajout" ng-model="formationSelected" ng-options="f.codeFormation for f in formations"/>
					<span style="color:red" ng-show="promotionForm.codeFormation.$dirty && promotionForm.codeFormation.$invalid">
					<span ng-show="promotionForm.codeFormation.$error.required">Champ obligatoire / Type invalide</span></span>
					<input ng-hide="ajout" type="text" class="form-control"
						ng-model="promotion.promotionPK.codeFormation" ng-readonly="true">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Sigle<span
					id="required-field"> *</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="promotion.siglePromotion" required>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Responsable</label>
				<div class="col-sm-10">
					<!-- <select name="listeEnseignants" ng-model="enseignantSelected">
						<option data-ng-repeat="e in enseignants"
								value="{{e.noEnseignant}}"
								ng-selected="{{e.noEnseignant == responsable.noEnseignant}}">
								{{e.nom}} {{e.prenom}}</option>
					</select> -->
					<select name="listeEnseignants" ng-model="enseignantSelected" ng-options="e.ens as (e.nom +' '+ e.prenom) for e in enseignants"/>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Nombre max d'&eacute;tudiants<span
					id="required-field"> *</span></label>
				<div class="col-sm-10">
					<input type="number" class="form-control"
						ng-model="promotion.nbMaxEtudiant" required>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Date de rentr&eacute;e</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="promotion.dateRentree" placeholder="dd/mm/yyyy">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Lieu de rentr&eacute;e</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="promotion.lieuRentree">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Processus de stage</label>
				<div class="col-sm-10">
					<select ng-model="processusStageSelected" name="processusStage" ng-options="p.rvMeaning for p in processusStage"></select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2">Commentaire</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"
						ng-model="promotion.commentaire">
				</div>
			</div>
			<div class="form-group">
				<a class="btn btn-success pull-right" ng-click="submit()"><span
					class="glyphicon glyphicon-ok"></span> Valider</a>
				<button class="btn btn-danger pull-left" ng-click="cancel()">Annuler</button>
			</div>
		</form>
		
	</div>
</div>
</div>
</div>