<!-- 
 -- @Author Mohamed LAKRAA
 -- Details des formations
 -->
<div class="page" ng-controller="FormationDetailsController">
	<div class="portlet light bordered ens-edit">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Formation</span>
			</div>
		</div>
		<div class="panel-body">
			<!-- Edition -->
			<div>
				<toaster-container
					toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
				<form class="form-horizontal elegant-aero" name="formationForm">
					<div ng-repeat="alert in alerts" ng-show="alert.show">
						<alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Code</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="codeFormation"
								min="1" ng-model="formation.codeFormation"
								ng-disabled="isVisible" required> <span
								style="color: red"
								ng-show="formationForm.codeFormation.$dirty && formationForm.codeFormation.$invalid">
								<span ng-show="formationForm.codeFormation.$error.required">Code
									formation obligatoire.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Diplome</label>
						<div class="col-sm-4">
							<select ng-model="diplomeSelected">
								<option data-ng-repeat="domaine in domaines" value="{{domaine.rvLowValue}}"
								ng-selected="{{domaine.rvLowValue}}">{{domaine.rvMeaning}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">No. année</label>
						<div class="col-sm-4">
							<input type="number" class="form-control"
								ng-model="formation.n0Annee" placeholder="Numéro d'année">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Nom formation</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								ng-model="formation.nomFormation">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Double diplôme</label>
						<div class="col-sm-4">
							<select ng-model="doubleDiplomeSelected">
								<option data-ng-repeat="domaine in domainesDiplome" value="{{domaine.rvLowValue}}"
								ng-selected="{{domaine.rvLowValue}}">{{domaine.rvMeaning}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Début d'accréditation</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								ng-model="formation.debutAccreditation">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">Fin d'accréditation</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								ng-model="formation.finAccreditation">
						</div>
					</div>
				</form>
				<a class="btn btn-danger" ng-click="cancel()"><span
					class="glyphicon glyphicon-remove"></span> Annuler</a>
				<button class="btn btn-success pull-right" ng-click="submit()"><span
					class="glyphicon glyphicon-ok"></span>
					Valider</button>
			</div>
		</div>
	</div>
</div>