<!-- 
 -- Author Kenza ABOUAKIL
 -- Détails d'une rubrique
 -->
<div class="page" ng-controller="RubriqueDetailsController">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-social-dribble font-red"></i> <span
					class="cpation-subject font-red bold uppercase">Rubrique</span>
			</div>
		</div>
		<!--------------------------- Consultation --------------------------->
			<div class="media animate" ng-hide="edit">
				<div class="media-body">
					<ul class="list-unstyled list-info">
						<li><label>Type</label> {{rubrique.type}}</li>
						<li><label>Designation</label>{{rubrique.designation}}</li>
					</ul>
				</div>
				
				<a class="btn btn-primary" href="#/rubriques"><span
					class="glyphicon glyphicon-arrow-left"></span> Retour</a>
				<button class="btn btn-warning pull-right" ng-click="editer(idrub)">
					<span class="glyphicon glyphicon-pencil"></span> Editer
				</button>
			</div>
	</div>
</div>